.App {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: serif;
}

/* Submit button */
button[type="submit"] {
  background-color: LightSkyBlue;
  margin: 0.5em;
  padding: 0.4em;
}

.error-warning {
  color: hsl(0, 100%, 50%);
}

/* introduce magins at widths > 20em */
@media only screen and (min-width: 20em) {
  .App {
    margin: 1em;
  }
}
