.App {
  font-family: serif;
}

body {
  background-color: hsl(60, 100%, 90%);
}

h1,
h2 {
  font-family: sans-serif;
}

h2 {
  font-size: 120%;
}

.exam-number-input {
  margin: 1em;
}

#downloadButton {
  margin: 0.6em;
  padding: 0.2em;
}

th,
td {
  /* border-width: thin; */
  border: 1px solid grey;
  padding: 0.3em;
}

/* introduce magins at widths > 20em */
@media only screen and (min-width: 20em) {
  .App {
    margin: 1em;
  }
}
